@font-face {
  font-family: 'Heebo';
  src: url('../../../assets/fonts/Black/Heebo-Black.woff2') format('woff2'),
      url('../../../assets/fonts/Black/Heebo-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('../../../assets/fonts/Bold/Heebo-Bold.woff2') format('woff2'),
      url('../../../assets/fonts/Bold/Heebo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('../../../assets/fonts/Extra Bold/Heebo-ExtraBold.woff2') format('woff2'),
      url('../../../assets/fonts/Extra Bold/Heebo-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('../../../assets/fonts/Light/Heebo-Light.woff2') format('woff2'),
      url('../../../assets/fonts/Light/Heebo-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('../../../assets/fonts/Regular/Heebo-Regular.woff2') format('woff2'),
      url('../../../assets/fonts/Regular/Heebo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('../../../assets/fonts/Thin/Heebo-Thin.woff2') format('woff2'),
      url('../../../assets/fonts/Thin/Heebo-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merge One';
  font-style: normal;
  font-weight: normal;
  src: url('../../../assets/fonts/Secondary/MergeOne.woff') format('woff');
}

