<div class="col">
  <h1>FIRSTNAME LASTNAME</h1>
  <div class="aboutMeContent">
    <div>
      <!-- My portfolio image for mobile screens -->
      <img class="mobileImg d-block d-md-none" hspace="10" vspace="10" src="../../assets/images/pfp.jpg" />
      <!-- My portfolio image for desktop screens -->
      <img class="desktopImg d-none d-md-block" hspace="10" vspace="10" src="../../assets/images/pfp.jpg" />
    </div>
    <h2>Welcome to my portfolio website</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.
      <br /><br />
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
      anim id est laborum.
    </p>
    <div class="buttonContainer">
      <button id="resumeButton" mat-raised-button color="warn" (click)="downloadResume()"><span>Download resume</span></button>
    </div>
  </div>
</div>
